 .load-more{
    display: block;
    height: 33px;
    margin: 20px auto;
    background-color: rgb(143, 141, 141);
    &:hover,
    &:focus{
        background-color: #00ffff;
    }
    
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}